<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>014_Classwork_Task 3</title>
    <script src="../../lib/angular.js"></script>
    <link rel="stylesheet" href="../../lib/bootstrap.css">
    <script>
        var app = angular.module('myApp', []);
        app.controller('mainCtrl', ['$scope', "$http", function ($scope, $http) {

            $scope.dataReadyState = false;

            $scope.clickHandler = function () {
                $http({
                    method: "GET",
                    url: "data/data.json"
                }).then(function successHandler(response) {
                    $scope.items = response.data;
                    $scope.dataReadyState = true;


                }, function errorHandler(response) {
                    alert("err" + response.statusText);

                }); 
            }; 

        }]); 
    </script>
</head>

<body ng-controller="mainCtrl">
    <div class="well">
        <input type="button" class="btn btn-default" value="get data" ng-click="clickHandler()">
    </div>
    <table class="table">
        <thead>
            <tr ng-show="dataReadyState">
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>

    </table>

</body>

</html>