// VARIABLES
$transparent: rgba(0,0,0,0.2);
$yelow: #ffe600;
$black: #131316;
$darkblue: #131a1d;

$oswald : 'Oswald', sans-serif;

// STYLES
body {
    font-family: $oswald;
    font-size: 14px;
}
.main-header {
    position: fixed;
    width: 100%;
    background-color: $transparent;
}

.header-content {
    position: relative;
 width:100%;
}

.header-logo {
    float: left;
    margin-top: 17px;
    margin-bottom: 26px;
}

#header-nav {
   padding-top: 102px;
}

#header-nav-toggle {
    position: absolute;
    top: 25px;
    right: 12px;
}

.is-hidden {
    display:none;
    }

.is-visible {
    display:block;
    }

    #header-nav-toggle i{
        color: #fff;
        font-size: 25px;
        cursor:pointer;
        z-index:1;
        &:hover {
            color: $yelow;
        }
    }

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
}

.nav a {
    position: relative;
    display: inline-block;
    padding:0 26px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    &:last-child {
        padding-right: 0;
    }
    &:hover, &:focus {
        color: $yelow;
    }

}

@media screen and (min-width:768px) {
    #header-nav {
        float: right;
        display:block;
        padding-top: 0;
    }
    .nav li{
        display: inline-block;
        width:auto;
        margin-top: 27px;
        margin-bottom: 45px;
    }

    #header-nav-toggle {
        display:none;
        }

        .nav a::after {
                
    background-color: $yelow;
    content: "";
    height: 5px;
    position: absolute;
    right: -25px;
    top: 8px;
    width: 5px;
    }
}

//SLIDER

.slide {
    padding-top: 250px;
    padding-bottom: 100px;
    text-align: center;
}

#slide-1 {
    background-image: url("../img/slider/slider1-bg.jpg");
    background-size: cover;
}
#slide-2 {
    background-image: url("../img/slider/slider2-bg.jpeg");
    background-size: cover;
}
#slide-3 {
    background-image: url("../img/slider/slider3-bg.jpeg");
    background-size: cover;
}

.slide-content {
	background: $transparent;
    padding-bottom: 60px;
    
}
.slide-text {
    max-width: 690px;
    margin: 0 auto;
    color: #fff;
    
}

.slide-text h2 {
    font-size: 60px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
}

.slide-content .btn {
    display: inline-block;
    background: $yelow;
    font-size: 20px;
    color: $black;
    padding: 20px 50px;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 75%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	transition: 0.6s ease;
}
.prev{
    left: 15%;
}
.next{
	right: 15%;
	
}

